<div class="container mt-4">
  <div class="card" >
    <div class="card-body bg-body-tertiary">
      <span class="h3"> {{ title }} </span>
      <div class="d-flex gap-2 d-md-flex justify-content-md-end"  style="white-space: nowrap; margin-top: 5px;">
        <form (ngSubmit) ="searchStudentById(false, searchForm)" #searchForm="ngForm" class="d-inline-flex" role="search" >
          <input class="form-control me-2 p-2" type="number" id="search" name="search" aria-label="Buscar alumno por Id" ngModel #search="ngModel" aria-describedby="searchForm" placeholder="Buscar alumno por Id numérico" required >
          <button class="btn btn-outline-success btn-lg" type="submit" [disabled]="!searchForm.valid" title="Buscar por id" id="btnSearch">Buscar</button>
          <button type="button" class="btn btn-primary btn-lg me-md-2" style="margin-right: auto; margin-left: 30px;" routerLink="/main/students/new">Agregar alumno</button>
        </form>  
      </div>
      <h5 style="margin-top: 30px; margin-bottom: 20px;" *ngIf="students.length == 0">No hay datos para mostrar</h5>
      <form (ngSubmit) ="updateStudent(formulario)" #formulario="ngForm">
        <div class="table-responsive-lg">
          <table class="table table-striped mt-5 table-hover" *ngIf="students.length > 0" >
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Email</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Licenciatura</th>
                <th scope="col">Semestre</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of students" > <!--class="needs-validation" name="formulario1" novalidate>-->
              
                <td> 
                  <div style="margin-top: 4px;" >
                    {{ student.id }}
                  </div>
                </td>
                <td>
                  <div *ngIf="student.editMode">
                    <input class="form-control" type="text" id="studentName" name="studentName" aria-label="studentName" [(ngModel)]="student.Name" #studentName="ngModel" required/>
                    <div *ngIf="studentName.invalid && (studentName.dirty || studentName.touched)">
                      <div *ngIf="studentName.errors?.['required']" style="margin-top: 4px; color: rgb(255, 0, 0);">                 
                        Campo vacío no permitido.               
                      </div>
                    </div>
                  </div>
                  <div *ngIf="!student.editMode" style="margin-top: 4px;">
                    {{ student.Name }}
                  </div> 
                </td>
                <td>
                  <div *ngIf="student.editMode">
                    <input class="form-control" type="email" id="studentEmail" name="studentEmail" aria-label="studentEmail" pattern=".+@.+\.com" [(ngModel)]="student.email" #studentEmail="ngModel" required/>
                    <div *ngIf="studentEmail.invalid && (studentEmail.dirty || studentEmail.touched)">
                      <div *ngIf="studentEmail.errors?.['required']" style="margin-top: 4px; color: rgb(255, 0, 0);">                 
                        Campo vacío no permitido.               
                      </div>
                      <div *ngIf="!studentEmail.errors?.['isEmail']" style="margin-top: 4px; color: rgb(255, 0, 0);" >                 
                        Correo inválido.               
                      </div>
                    </div>
                  </div>
                  <div *ngIf="!student.editMode" style="margin-top: 4px;">
                    {{ student.email }}
                  </div> 
                </td>
                <td>
                  <div *ngIf="student.editMode">
                    <input class="form-control"  type="tel" id="studentPhone" name="studentPhone" aria-label="studentPhone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" [(ngModel)]="student.telefono" #studentPhone="ngModel"> <!-- required/> --> 
                    <small>Formato: 123-456-7890</small>
                    <div *ngIf="studentPhone.invalid && (studentPhone.dirty || studentPhone.touched)">
                      <!--<div *ngIf="studentPhone.errors?.['required']" style="margin-top: 4px; color: rgb(255, 0, 0);">                 
                        Campo vacío no permitido.               
                      </div>-->
                      <div *ngIf="!studentPhone.errors?.['isTel']" style="margin-top: 4px; color: rgb(255, 0, 0);" >                 
                        Teléfono inválido.               
                      </div>
                    </div>
                  </div>
                  <div *ngIf="!student.editMode" style="margin-top: 4px;">
                    {{ student.telefono }}
                  </div> 
                </td>
                <td>
                  <div *ngIf="student.editMode">
                    <input class="form-control" type="text" id="studentLic" name="studentLic" aria-label="studentLic" [(ngModel)]="student.licenciatura" #studentLic="ngModel"> <!-- required/>  
                    <div *ngIf="studentLic.invalid && (studentLic.dirty || studentLic.touched)">
                      <div *ngIf="studentLic.errors?.['required']" style="margin-top: 4px; color: rgb(255, 0, 0);">                 
                        Campo vacío no permitido.               
                      </div>
                    </div>-->
                  </div>
                  <div *ngIf="!student.editMode" style="margin-top: 4px;">
                    {{ student.licenciatura }}
                  </div> 
                </td>
                <td>
                  <div *ngIf="student.editMode">
                    <input class="form-control" type="number" id="studentSemester" name="studentSemester" aria-label="studentSemester" [(ngModel)]="student.semestre" #studentSemester="ngModel" min="0" max="30"> <!-- required/> --> 
                    <small>Entrada numérica mayor a 0 y menor a 30.</small>
                    <!--<div *ngIf="studentSemester.invalid && (studentSemester.dirty || studentSemester.touched)">
                      <div *ngIf="studentSemester.errors?.['required']" style="margin-top: 4px; color: rgb(255, 0, 0);">                 
                        Entrada vacía o de texto no permitida.               
                      </div>
                      <div *ngIf="!studentSemester.errors?.['isNumber']" style="margin-top: 4px; color: rgb(255, 0, 0);" >                 
                        Semestre inválido.               
                      </div>
                    </div>-->
                    <div *ngIf="studentSemester.invalid && (studentSemester.dirty || studentSemester.touched)" style="margin-top: 4px; color: rgb(255, 0, 0);" >                 
                      Semestre inválido.               
                    </div>
                  </div>
                  <div *ngIf="!student.editMode" style="margin-top: 4px;">
                    {{ student.semestre }}
                  </div> 
                </td>
                <td>
                  <div *ngIf="student.editMode" style="min-height: fit-content;">
                    <div class="d-grid gap-2 d-inline-flex">
                      <a>
                        <button type="submit" class="btn btn-success" [disabled]="!formulario.valid" title="Editar alumno" id="updateStudent"> 
                          <i class="bi bi-check-square"></i>
                        </button>
                      </a>
                      <a>
                        <button type="button" class="btn btn-danger" (click)="cancelEditMode(student)" id="cancelEditMode" >
                          <i class="bi bi-x-square"></i>
                        </button>
                      </a>
                    </div>
                    
                  </div>
                  <div *ngIf="!student.editMode" style="min-height: fit-content;">
                    <div class="d-grid gap-2 d-inline-flex">
                      <a><!--href="/main/students/{{student.id}}"-->
                        <button type="button" class="btn btn-success" (click)="editModeOn(student)" id="editModeOn"> 
                          <i class="bi bi-pencil-square"></i>
                        </button>
                      </a>
                      <a>
                        <button type="button" class="btn btn-danger" (click)="deleteStudent(student)" id="deleteStudent" >
                          <i class="bi bi-trash3"></i>
                        </button>
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <img src="..." class="rounded me-2" alt="...">
    <strong class="me-auto">Bootstrap</strong>
    <small class="text-body-secondary">2 seconds ago</small>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    Heads up, toasts will stack automatically
  </div>
</div>
