<nav class="navbar bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1"
      >Sistema de Préstamo de Computadoras</span
    >
  </div>
</nav>
<div class="container-fluid text-center">
  <img src="../../../assets/login-icon.png" alt="login-icon" />
  <h1>Iniciar Sesión</h1>
  <div class="container">
    <div class="card-body">
      <form (submit)="logIn(formulario)" #formulario="ngForm">
        <div class="form-group">
          <input
            type="text"
            [(ngModel)]="user.userName"
            name="userName"
            class="form-control"
            placeholder="Usuario"
            required
            autofocus
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            [(ngModel)]="user.password"
            name="password"
            class="form-control"
            placeholder="Contraseña"
            required
          />
        </div>
        <button type="submit" class="btn btn-success btn-block">Acceder</button>
      </form>
      <div>
        <a routerLink="/register"> ¿No tienes una cuenta? Regístrate. </a>
      </div>
    </div>
  </div>
</div>
